@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

section {
  padding-top: 80px;
  background: var(--main-bg-page, #FBF8EC);
}

.container-nik {
  padding-top: 20px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.container-nik a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 480px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

footer {
  background-image: url(/image/bg.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 126px;
  background-size: cover;
  background: var(--main-bg-page, #FBF8EC);
}
@media (max-width: 707px) {
  footer {
    height: 200px;
  }
}
footer .footer-page {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding-top: 30px;
}
@media (max-width: 824px) {
  footer .footer-page {
    gap: 1px;
  }
}
@media (max-width: 710px) {
  footer .footer-page {
    padding-bottom: 80px;
  }
}
footer .footer-page .footer-frame {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 707px) {
  footer .footer-page .footer-frame {
    display: grid;
  }
}
footer .footer-page .footer-frame .footer-logo a img {
  width: 64px;
  height: 44px;
}
footer .footer-page .footer-frame .footer-text {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 824px) {
  footer .footer-page .footer-frame .footer-text {
    max-width: 300px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
footer .footer-page .footer-frame .footer-text a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
footer .footer-page .footer-kantak {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
@media (max-width: 707px) {
  footer .footer-page .footer-kantak {
    position: absolute;
    top: 20px;
    right: 12px;
    display: grid;
    gap: 15px;
  }
}
footer .footer-page .footer-kantak .kantak-logo {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
footer .footer-page .footer-kantak .kantak-tel a {
  width: 152px;
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: block;
}
@media (max-width: 824px) {
  footer .footer-page .footer-kantak .kantak-tel a {
    font-size: 14px;
  }
}
footer .footer-page .footer-kantak .kantak-tel h1 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 15px;
}
@media (max-width: 824px) {
  footer .footer-page .footer-kantak .kantak-tel h1 {
    font-size: 10px;
  }
}
@media (max-width: 707px) {
  footer .footer-page .footer-kantak .kantak-tel h1 {
    display: none;
  }
}

.footer-layout {
  width: 100%;
  position: fixed;
  display: none;
  bottom: 0;
  align-items: center;
  transition: 0.4s;
  z-index: 100;
  background: var(--surface, #FFF);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 710px) {
  .footer-layout {
    display: block;
  }
}
.footer-layout .instanke {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.footer-layout .instanke .katalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.footer-layout .instanke .katalog a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.footer-layout .instanke .katalog a h1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: "Rubik";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

header {
  width: 100%;
  position: fixed;
  background: #FFF;
  align-items: center;
  transition: 0.4s;
  z-index: 100;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.header-block {
  display: flex;
  height: 72px;
  justify-content: center;
  gap: 40px;
  flex: 1 0 0;
}
@media (max-width: 1100px) {
  .header-block {
    gap: 15px;
  }
}
.header-block .header-link {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  justify-content: center;
}
.header-block .header-link a {
  display: flex;
}
.header-block .header-link a .header-link-svg {
  margin-top: 10px;
  margin-left: 11.41px;
}
@media (max-width: 1100px) {
  .header-block .header-link a .header-link-svg {
    display: none;
  }
}
.header-block .header-link .linc-button {
  margin-left: 40px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--main-secondary, #70C05B);
}
@media (max-width: 1100px) {
  .header-block .header-link .linc-button {
    margin-left: 20px;
  }
}
@media (max-width: 710px) {
  .header-block .header-link .linc-button {
    display: none;
  }
}
.header-block .header-link .linc-button button {
  border: none;
  background: none;
}
.header-block .header-link .linc-button h3 {
  color: var(--main-on-secondary, #FFF);
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1100px) {
  .header-block .header-link .linc-button h3 {
    display: none;
  }
}
.header-block .header-link form {
  max-width: 344px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  background: var(--main-surface, #FFF);
  margin-left: 16px;
}
.header-block .header-link form input {
  color: var(--grayscale-hard, #8F8F8F);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;
}
.header-block .header-frame {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 34px;
  align-self: stretch;
}
@media (max-width: 1100px) {
  .header-block .header-frame {
    gap: 15px;
  }
}
@media (max-width: 710px) {
  .header-block .header-frame {
    display: none;
  }
}
.header-block .header-frame .frame-yurak {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-block .header-frame .frame-yurak .a-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header-block .header-frame .frame-yurak .aa-cart {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header-block .header-frame .frame-yurak .aa-cart span {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 13px;
  border-radius: 4px;
  background: var(--main-primary, #F63);
  color: white;
  padding: 0px 4px;
  border-radius: 10px;
}
.header-block .header-frame .frame-img button {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: none;
  background: none;
}
.header-block .header-frame .frame-img button img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.header-block .header-frame .frame-img button h2 {
  color: var(--on-surface, #232323);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 1100px) {
  .header-block .header-frame .frame-img button h2 {
    display: none;
  }
}

.categories-menyu {
  width: 100%;
  background: var(--main-surface, #FFF);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 1s;
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
}
.categories-menyu .menyu-nik {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.categories-menyu .menyu-nik a {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: 0.5s;
}
.categories-menyu .menyu-nik a:hover {
  color: red;
}

.categories-toggle {
  position: fixed;
  display: block;
  transition: 1s;
  z-index: 100;
  top: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
.modal .modal-cart {
  position: relative;
  display: flex;
  width: 420px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
  transition: 0.5s;
}
.modal .modal-cart .modal-name {
  padding-top: 50px;
}
.modal .modal-cart .modal-name h1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.modal .modal-cart h3 {
  padding-top: 20px;
  color: var(--grayscale-hard, #8F8F8F);
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .modal-cart form {
  width: 260px;
  height: 40px;
  padding: 8px;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  background: var(--main-surface, #FFF);
}
.modal .modal-cart form input {
  color: var(--grayscale-hard, #8F8F8F);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;
  text-decoration: none;
}
.modal .modal-cart .modal-button .buton-vxod {
  border-radius: 4px;
  background: var(--main-primary-muted, #FCD5BA);
  border: none;
  display: flex;
  width: 260px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
.modal .modal-cart .modal-button .buton-vxod span {
  color: var(--main-primary, #F63);
  text-align: center;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .modal-cart .modal-link {
  display: flex;
  width: 260px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.modal .modal-cart .modal-link .registratsia {
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70C05B);
  display: flex;
  width: 121px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
.modal .modal-cart .modal-link .registratsia span {
  color: var(--main-secondary, #70C05B);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .modal-cart .modal-link .parol {
  display: flex;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}
.modal .modal-cart .modal-link .parol span {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal .modal-cart .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
}

.modal-show {
  opacity: 1;
  z-index: 1;
}

.korzina {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  padding-bottom: 100px;
}
.korzina-name h1 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.korzina .cart-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.korzina .cart-container .cart-content {
  display: flex;
  width: 896px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.korzina .cart-container .cart-content-name {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.korzina .cart-container .cart-content-name button {
  border-radius: 4px;
  border: 1px solid var(--grayscale-lightest, #F3F2F1);
  background: var(--main-secondary, #70C05B);
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.korzina .cart-container .cart-content-name h4 {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content-name a {
  color: var(--main-primary, #F63);
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 272px;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart {
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 896px;
  align-items: flex-start;
  gap: 16px;
  height: 72px;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-img {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-img img {
  width: 80px;
  height: 60px;
  border-radius: 4px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #FFF;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-img-name h3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-img-name p {
  color: var(--grayscale-hardest, #606060);
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-content {
  border-radius: 4px;
  background: var(--main-secondary, #70C05B);
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-content .cart-buton {
  background: var(--main-secondary, #ff0000);
  padding: 2px;
  border: none;
  border-radius: 4px 0px 0px 4px;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-content span {
  color: var(--main-on-secondary, #FFF);
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .cart-container-cart .cart-cart-content .cart-button {
  background: var(--main-secondary, #ff0000);
  padding: 2px;
  border: none;
  border-radius: 0px 4px 4px 0px;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .togle {
  display: flex;
  width: 272px;
  align-items: center;
  gap: 10px;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .togle h1 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame h2 {
  color: var(--grayscale-hard, #8F8F8F);
  font-family: "Rubik";
  font-size: 16px;
  padding-top: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .name-frame {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .name-frame .tawar-sum {
  padding-top: 10px;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .name-frame .tawar-sum h1 {
  color: var(--main-on-surface, #414141);
  text-align: right;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .name-frame .tawar-sum h3 {
  padding-top: 8px;
  color: var(--main-primary, #F63);
  text-align: right;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .itog-name {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame .itog-name h1 {
  padding-top: 10px;
  color: var(--main-on-surface, #414141);
  text-align: right;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame button {
  margin: 0 auto;
  border-radius: 4px;
  background: var(--main-primary-muted, #FCD5BA);
  border: none;
}
.korzina .cart-container .cart-content .card-frame .sayt-frame button span {
  color: var(--main-primary, #F63);
  text-align: center;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 16px;
}