@use "../global";

section {
  padding-bottom: 80px;
}

.playgirount-name {
  padding-top: 50px;
  h1 {
    color: var(--main-on-surface, #414141);
    font-family: "Rubik";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
}

.products-row {
  display: flex;
  gap: 40px;
  padding-top: 50px;
}

.product-card {
  width: 272px;
  height: 167px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
  transition: 1s;
  position: relative;
  border-radius: 4px;

  @media (max-width: 1225px) {
    width: 200px;
    height: 315px;
  }

  @media (max-width: 480px) {
    width: 150px;
    height: 285px;
  }

  &:hover {
    .item-card-img {
      svg {
        display: block;
        right: 12px;
        transition: 1s;
      }
    }
  }

  .product-card-body {
    position: relative;

    img {
      width: 272px;
      transition: 1s;

      @media (max-width: 1225px) {
        width: 200px;
      }

      @media (max-width: 480px) {
        width: 150px;
      }
    }
  }

  .product-card-footer {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(112, 192, 91, 0.00) 0%, #70C05B 82.81%);
    width: 100%;
    height: 80%;
    display: flex;
    padding-top: 95px;
    padding-left: 8px;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    transition: 0.5s;

    &:hover {
      background: linear-gradient(180deg, rgba(255, 102, 51, 0.00) 0%, #F63 100%);
    }

    @media (max-width: 953px) {
      padding-top: 120px;
    }

    p {
      color: var(--main-on-secondary, #FFF);
      font-family: "Rubik";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }


  }
}