@use "../global";

.onas-image {
  .onas-nik {
    padding-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 16px;

    a {
      color: var(--main-on-surface, #414141);
      font-family: "Rubik";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

  .kompani-table {
    padding-top: 24px;
    display: flex;

    @media (max-width: 930px) {
      display: grid;
    }

    .kompani-text {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      padding: 20px;

      @media (max-width: 710px) {
        padding: 0;
      }

      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

        @media (max-width: 710px) {
          font-size: 50px;
        }

        @media (max-width: 403px) {
          font-size: 40px;
        }
      }

      p {
        color: var(--main-primary, #F63);
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

        @media (max-width: 710px) {
          font-size: 19px;
        }

        @media (max-width: 403px) {
          font-size: 16px;
        }
      }
    }

    .kompani-img {
      max-width: 669px;
      // height: 371px;
      transition: 1s;
      margin: 0 auto;

      img {
        margin-top: 95px;
        transition: 1s;

        @media (max-width: 1100px) {
          width: 450px;
          height: 250px;
        }

        @media (max-width: 930px) {
          margin-top: 20px;
          margin: 0 auto;
        }

        @media (max-width: 490px) {
          margin-top: 20px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.title-text {
  display: flex;
  padding-top: 100px;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  transition: 1s;

  @media (max-width: 930px) {
    padding-top: 70px;
  }

  .text-card {
    display: flex;
    max-width: 257px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    .card-icons {
      margin-top: 5px;
    }

    .text-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      transition: 1s;

      @media (max-width: 475px) {
        width: 200px;
        gap: 5px;
      }

      h3 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        transition: 1s;

        @media (max-width: 475px) {
          font-size: 12px;
        }
      }

      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        transition: 1s;

        @media (max-width: 475px) {
          font-size: 16px;
        }
      }
    }
  }

  .text-car {
    display: flex;
    max-width: 357px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    .card-icons {
      margin-top: 5px;
    }

    .text-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      transition: 1s;

      @media (max-width: 475px) {
        width: 250px;
        gap: 5px;
      }

      h3 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        transition: 1s;

        @media (max-width: 475px) {
          font-size: 12px;
        }
      }

      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        transition: 1s;

        @media (max-width: 475px) {
          font-size: 16px;
        }
      }
    }
  }

  .text-cards {
    display: flex;
    max-width: 445px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    .card-icons {
      margin-top: 5px;
    }

    .text-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      transition: 1s;

      @media (max-width: 475px) {
        width: 260px;
      }


      h3 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        transition: 1s;

        @media (max-width: 475px) {
          font-size: 12px;
        }
      }

      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        transition: 1s;

        @media (max-width: 475px) {
          max-width: 400px;
          font-size: 16px;
        }
      }
    }
  }
}

.icons-button {
  display: flex;
  margin: 0 auto;
  max-width: 1012px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 70px;
  padding-bottom: 50px;

  @media (max-width: 686px) {
    display: grid;
  }

  .button-icon {
    img {
      width: 127px;
      height: 103px;
      transition: 1s;

      @media (max-width: 686px) {
        width: 100px;
        height: 75px;
      }
    }

    @media (max-width: 686px) {
      margin: 0 auto;
    }
  }

  .icons-text {
    display: flex;
    align-items: flex-end;
    flex: 1 0 0;

    @media (max-width: 686px) {
      display: grid;
    }

    .iconasyahsil {
      padding-bottom: 20px;


      @media (max-width: 686px) {
        display: none;
      }

    }

    .yashil {
      display: none;
      margin: 0 auto;

      @media (max-width: 686px) {
        height: 41px;
        display: block;
      }
    }

    h1 {
      border-radius: 16px;
      background: var(--main-secondary-muted, #E5FFDE);
      color: var(--main-secondary, #70C05B);
      font-family: "Rubik";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      padding: 30px 40px;
      transition: 1s;

      @media (max-width: 500px) {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}