@use "../global";

.products-row {
  display: flex;
  gap: 30px;
}
.kategoriya {
  &-name {
    padding-top: 27px;

    h1 {
      color: var(--main-on-surface, #414141);
      font-family: "Rubik";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
  }

  &-frame {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    padding-top: 60px;

    .kategoriya-filtr {
      display: flex;
      width: 272px;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;

      .filtr-name {
        border-radius: 4px;
        background: var(--grayscale-lightest, #F3F2F1);
        width: 100%;

        h1 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          padding: 10px;
        }
      }

      .filtr-frame {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;

        .frame-nik {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          h1 {
            color: #000;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }

          h2 {
            color: var(--grayscale-hardest, #606060);
            text-align: center;
            font-family: "Rubik";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }

        .frame-input {
          display: flex;
          gap: 8px;
          align-items: center;

          form {
            width: 124px;
            display: flex;
            border-radius: 4px;
            border: 1px solid var(--grayscale-light, #BFBFBF);
            background: var(--main-surface, #FFF);

            input {
              padding: 8px 16px;
              max-width: 92px;
              border: none;

            }
          }
        }

        input {
          width: 80%;
          margin: 0 auto;
        }
      }
    }

    .product-card {
      width: 272px;
      height: 365px;
      border-radius: 4px;
      background: var(--main-surface, #FFF);
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
      transition: 1s;
      position: relative;
      margin-bottom: 40px;

      @media (max-width: 1225px) {
        width: 200px;
        height: 315px;
      }

      @media (max-width: 480px) {
        width: 150px;
        height: 285px;
      }

      &:hover {
        .item-card-img {
          svg {
            display: block;
            right: 12px;
            transition: 1s;
          }
        }
      }

      .product-card-body {
        position: absolute;

        img {
          width: 272px;
          transition: 1s;

          @media (max-width: 1225px) {
            width: 200px;
          }

          @media (max-width: 480px) {
            width: 150px;
          }
        }

        a {
          position: absolute;
          left: 10px;
          top: 118px;
          border-radius: 4px;
          background: var(--main-primary, #F63);
          color: var(--main-on-primary, #FFF);
          text-align: center;
          font-family: "Rubik";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          padding: 8px;

          @media (max-width: 953px) {
            top: 80px;
            font-size: 14px;
          }

          @media (max-width: 480px) {
            top: 70px;
            font-size: 13px;
            padding: 5px;
          }
        }

        svg {
          // transition: 1s;
          display: none;
          position: absolute;
          right: -20px;
          top: 12px;
          transition: 1s;
        }
      }

      .product-card-footer {
        display: flex;
        padding: 8px;
        flex-direction: column;
        gap: 8px;
        align-self: stretch;
        padding-top: 170px;

        @media (max-width: 953px) {
          padding-top: 120px;
        }

        h3 {
          a {
            color: var(--main-on-surface, #414141);
            font-family: "Rubik";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;

            @media (max-width: 480px) {
              font-size: 14px;
            }
          }
        }

        p {
          a {
            color: var(--grayscale-hardest, #606060);
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            @media (max-width: 480px) {
              font-size: 14px;
            }
          }
        }

        button {
          display: flex;
          padding: 8px;
          width: 93%;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 4px;
          border: 1px solid var(--main-secondary, #70C05B);
          transition: 0.5s;
          position: absolute;
          bottom: 10px;

          @media (max-width: 480px) {
            top: 80px;
          }

          b {
            color: var(--main-secondary, #70C05B);
            text-align: center;
            font-family: "Rubik";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            transition: 0.5s;
          }

          &:hover {
            background: var(--main-primary, #F63);

            b {
              color: white;
            }
          }
        }

      }
    }
  }
}